// Brand colors
// -------------------------
@klOrange:              #ce4d28;
@klOrangeDark:          #c34528;
@klOrangeLight:         #e35a25;
@klOrangeLighter:       #f7ccb2;

@klGreenLight:          #eae34a;
@klBlueLight:           #1dacd6;
@klBlueMed:             #0f9bd1;
@klOrangeType:          #ca4d1d; 

.kl-orange { color: @klOrange; }
.kl-orange-dark { color: @klOrangeDark; }
.kl-orange-light { color: @klOrangeLight; }
.kl-orange-lighter { color: @klOrangeLighter; }

.kl-orange-bg { background-color: @klOrange; }
.kl-orange-dark-bg { background-color: @klOrangeDark; }
.kl-orange-light-bg { background-color: @klOrangeLight; }
.kl-orange-lighter-bg { background-color: @klOrangeLighter; }
.swatch.kl-orange-lighter-bg { color: #212121; }

.kl-green-light-bg { background-color: @klGreenLight; }
.swatch.kl-green-light-bg { 
  color: #212121;
}
.kl-blue-light-bg { background-color: @klBlueLight; }
.kl-blue-med-bg { background-color: @klBlueMed; }
.kl-orange-type { color: @klOrangeType; }
