#initiative-info {
  font-family: @sansFontFamily;
  color: #f2f2f2;
  font-size: 12px;
  padding: 14px 20px 11px;
  line-height: 1.4em;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#530063', EndColorStr='#530063')"; /* IE8 */
  background-image: linear-gradient(bottom, rgb(50,33,63) 0%, rgb(83,0,99) 32%, rgb(83,0,99) 44%);
  background-image: -o-linear-gradient(bottom, rgb(50,33,63) 0%, rgb(83,0,99) 32%, rgb(83,0,99) 44%);
  background-image: -moz-linear-gradient(bottom, rgb(50,33,63) 0%, rgb(83,0,99) 32%, rgb(83,0,99) 44%);
  background-image: -webkit-linear-gradient(bottom, rgb(50,33,63) 0%, rgb(83,0,99) 32%, rgb(83,0,99) 44%);
  background-image: -ms-linear-gradient(bottom, rgb(50,33,63) 0%, rgb(83,0,99) 32%, rgb(83,0,99) 44%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(50,33,63)),
    color-stop(0.32, rgb(83,0,99)),
    color-stop(0.44, rgb(83,0,99))
    );
  border-bottom: 2px solid #272727;
}


@media (max-width: 767px) {
  #initiative-info {
    margin-right: -20px;
    margin-left: -20px;
  }
}
