.logo {
  background: top left transparent no-repeat url(../assets/logos/logo_horizontal_NOtagline_383x91_transparent_NOpadding.png);
  text-indent: -999999px;
  display: inline-block;
  width: 383px;
  height: 91px;
  background-size: contain;
  &.horizontal {
    &.tagline {
      background-image: url(../assets/logos/logo_horizontal_400x120_transparent_NOpadding.png);
      height: 122px;
      width: 402px;
    }
    &.logo-small {
      height: 50px;
      width: 210px;
    }
  }
  &.stacked {
    background-image: url(../assets/logos/logo_stacked_256x256_NOtagline_transparent_padded.png);
    background-size: contain;
    height: 259px;
    width: 259px;
    &.tagline {
      background-image: url(../assets/logos/logo_stacked_320x350_transparent_padded.png);
    height: 354px;
    width: 324px;
    }
  }
  &.diamond {
    background-image: url(../assets/logos/logo_diamond_256x256_transparent_padded.png);
    width: 256px;
    height: 256px;
  }
}

.logo-mark {
  font-size: 60px;
  white-space: nowrap;
  line-height: 1em;
  &.xl {
    font-size: 90px;
  }
  &.xxl {
    font-size: 120px;
  }
    span {
      background: none repeat scroll 0 0 @klBlueMed;
      border-radius: 3px 0px 3px 3px;
      color: #FFFFFF;
      font-size: 0.5em;
      line-height: 0.5em;
      margin: 5px 6px 0;
      overflow: hidden;
      padding: 0.35em 0.45em 0.2em;
      position: relative;
      vertical-align: text-top;
      display: inline-block;
      &:before {
        border-color: @klBlueMed #F3F3F3;
        border-style: solid;
        border-width: 0 16px 16px 0;
        content: "";
        position: absolute;
        right: 0;
        top: -1px;
    }
    em {
      position: relative;
    }
  }
}
.logo-mark.bg-white span:before {
  border-color: @klBlueMed #fff;
}


.compact {
  padding: 30px;
  h2.intro {
    font-size: 30px;
    margin: 26px auto
  }
  .logo-mark {
    &.l {
      font-size: 60px;
    }
    &.xl {
      font-size: 72px;
    }
    &.xxl {
      font-size: 90px;
    }
  }
}

/* logo mark padding tweak for safari/chrome only */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .logo-mark span {
    padding: 0.35em .47em .3em .36em;
  }
}


@media screen and (max-width: 767px) {
  .logo-mark {
    font-size: 45px;
    white-space: nowrap;
    line-height: 1em;
    &.xl {
      font-size: 65px;
    }
    &.xxl {
      font-size: 80px;
    }
  }
}